body {
  margin: 0;
}

header .container-fluid {
}

h1 {
  padding: 30px 0;
  background-color: seashell;
  color: pink;
  text-align: center;
}

p {
  margin: 10px 50px 20px 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}

.col-xs-4 {
  margin: 10px 35px 10px 20px;
  padding: 30px 30px 10px 20px;
  text-align: left;
}

.btn {
  margin: 0.5rem auto;
}
